.new{
   margin: 20px 0px 30px 0px;
}
.farm{
    padding-bottom: 30px;
    margin: 15px 20px 0px 20px;
    text-align: start ;
}
input{
    margin: 7px;
    background-color: rgb(255, 248, 248) !important;
}
h5{
    margin: 5px;
    text-align: center;
}
.butn{
    padding: 10px;
    color: white;
    background-color: darkblue;
    width: 90%;
    margin: auto;
    display: block;
}